html {
    font-size: 8px;
    height: 100vh;
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif, 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}