<div class="table-wrapper">
  <table class="fluid-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Language</th>
        <th>Player</th>
        <th>WPM</th>
        <th>ACC</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of pagedHighscores.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ score.language }}</td>
        <td>{{ score.player }}</td>
        <td>{{ score.wordsPerMinute }}</td>
        <td>{{ score.accuracy }}%</td>
        <td>{{ score.date | date : "dd MMM yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<mat-paginator
  [length]="pagedHighscores.totalCount"
  [pageSizeOptions]="[10, 20, 50]"
  [pageSize]="pagedHighscores.pageSize"
  [pageIndex]="pagedHighscores.pageIndex"
  (page)="onPaginationChange($event)"
  aria-label="Select page"
>
</mat-paginator>
