<cdk-virtual-scroll-viewport [itemSize]="20" class="scores-viewport">
  <div class="table-wrapper">
    <table class="fluid-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>WPM</th>
          <th>ACC</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let item of items; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.wpm }}</td>
          <td>{{ item.acc }}%</td>
          <td>{{ item.date | date : "dd MMM yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</cdk-virtual-scroll-viewport>

<mat-paginator
  [length]="50"
  [pageSizeOptions]="[15, 30, 60, 100]"
  aria-label="Select page"
>
</mat-paginator>
