<h2>Leaderboard</h2>

<app-filters
  *ngIf="queryParmas | async as params"
  [params]="params"
  (paramsChanges)="paramsChange($event)"
></app-filters>

<div class="table-wrapper">
  <table class="fluid-table">
    <tr>
      <th>#</th>
      <th>Player</th>
      <th>WPM</th>
      <th>ACC</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
    <tr>
      <td>1</td>
      <td>tomasznekov</td>
      <td>160</td>
      <td>14%</td>
      <td>02/10/2022</td>
    </tr>
  </table>
</div>

<mat-paginator [length]="50" [pageSizeOptions]="[10]" aria-label="Select page">
</mat-paginator>
