:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  overflow: hidden;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

form {
  display: flex;
  align-items: flex-end;
  column-gap: 3rem;
}

.table-wrapper {
  flex: 1;
  overflow: hidden;
}

.fluid-table {
  width: 100%;
}


.wide-input {
  width: 350px;
}
