<nav>
  <div class="nav-content">
    <img routerLink="/" src="assets/logo/logo.svg" alt="logo" class="logo" />
    <div class="nav-options">
      <a routerLinkActive="active" routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLinkActive="active" routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
      <a routerLinkActive="active" routerLink="/measure" routerLinkActive="active">Measure</a>

      <a *ngIf="!(isAuthorized$ | async); else noAuthorized" (click)="login()"
        >Sign Up</a
      >
      <ng-template #noAuthorized>
        <a (click)="logout()">Logout</a>
      </ng-template>
    </div>
  </div>
</nav>
